{% extends 'base.html' %}
{% set active_page = 'novo_preparo' %}
{% from "_error_messages.html" import field_error_messages, error_messages %}
{% block title %}Novo preparo - {% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-7 offset-lg-2 my-5">
    <h1>Novo preparo</h1><hr>
    <form method="POST" action="{{ url_for('preparo_bp.novo_preparo') }}" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      {{ error_messages(form.errors) }}
      <div class="form-group">
        {{ form.preparo.label }}
        {{ form.preparo(class="form-control") }}
        {{ field_error_messages(form.preparo) }}
      </div>
       <div class="form-group">
        {{ form.unidade_medida.label }}
        {{ form.unidade_medida(class="form-control") }}
        {{ field_error_messages(form.unidade_medida) }}
      </div>
      <div class="form-group">
        {{ form.modo_preparo.label }}
        {{ form.modo_preparo(class="form-control", rows="3") }}
        {{ field_error_messages(form.modo_preparo) }}
      </div>
      <hr>
      {{ form.submit(class="btn btn-primary form-control") }}
    </form>
  </div>
</div>
{% endblock %}
